@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@keyframes scroll {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}
html {
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

.scroll-animation {
    display: flex;
    animation: scroll 16s linear infinite;
}

.scroll-container {
    overflow: hidden;
    width: 100%;
}

.scroll-content {
    display: flex;
    width: 200%;
}

.perspective {
    perspective: 1000px;
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 768px) {
    @keyframes scroll {
        0% {
            transform: translateX(20%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .scroll-animation {
        display: flex;
        animation: scroll 14s linear infinite;
    }
    .scroll-content {
        display: flex;
        width: 550%;
    }
}
